.contact__link {
    display: flex;
    color: $color-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $transition-timing-function;

    &:hover,
    &:focus {
    color: $color-brand;
}

    
}

.contact__envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    }

.contact__smartphone{
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
    }

    .contact {
        display: flex;
        margin-left: auto;
        gap: 50px;
    
    }
    

    /*--------*/
 
    .contact-footer__link {
        color: $color-secondary;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: $transition-timing-function;
        

        &:hover, &:focus{
            color: $color-brand;
        }
    }
    

    .contact-footer__list{
        padding-bottom: 9px;
    }
    .contact-footer__list:last-child{
        padding-bottom: 0;
    }
    .contact-footer__list:first-child{
        color: $background-color-first;
    }
    
    .contact-footer{
        display: block;
        width: 231px;
        margin-right: 70px;
        margin-top: 20px;
    }

