.network{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    gap: 10px;



&__link{
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    color: $color-links;

    transition-property: background-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover,
    &:focus{
        background-color: $color-brand;
        color: $background-color-first;
    
    }
}

&__icon{
    @include icon (20px, 20px, currentColor)
}

/*--------------*/

&--inverse{
    display: flex;
    gap: 10px;
}


&__link--inverse{
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    border: none;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover, &:focus{
        background-color: $color-brand;
    }

}

&__icon--inverse{
    @include icon (20px, 20px, $background-color-first);

}}