$icons: 'antenna',
'clock',
'diagram',
'astronaut';

@mixin genereteIcons($iconList){
@each $iconName in $icons{
.icon-#{$iconName} {
        background-image: url(/images/#{$iconName});

    }}}


/*.features__list::before {
    display: block;

    margin-bottom: 30px;
    content: '';
    height: 120px;
    background-color: $background-color-third;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

&__list:nth-child(1):before {
    background-image: url(/images/antenna.svg);
}

&__list:nth-child(2):before {
    background-image: url(/images/clock.svg);
}

&__list:nth-child(3):before {
    background-image: url(/images/diagram.svg);
}

&__list:nth-child(4):before {
    background-image: url(/images/astronaut.svg);
}
}*/