@mixin bordered ($color){
    border-left: 1px solid $color;
    border-right: 1px solid $color;
    border-bottom: 1px solid $color;
}

@mixin icon ($width, $height, $fill){
    width: $width;
    height: $height;
    fill: $fill;
}

